/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 415px;
  margin-right: auto;
  margin-left: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

.div img {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.5);
}

div {
  background: #df0000;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
}

.red-title {
  color: #df0000;
}

.intro-text {
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 44px;
  margin-bottom: 2px;
}

h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 36px;
  margin-bottom: 12px;
}

div {
  margin-top: 12px;
  margin-bottom: 22px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  border-radius: 8px;
  color: white;
}

/* ====================================
// base rules
// ==================================== */
